<!-- <app-hearder></app-hearder>
<div class="main-ui-container">
    <app-sidebar class="sidebar-view" *ngIf="!paramRoute.includes('authentication')"> </app-sidebar> 
    <div class="incoming-view mt-2">
      <router-outlet> </router-outlet>
    </div>
  </div> -->

  <!-- Pre-loader -->
<div id="preloader" *ngIf="isLoading">
  <div id="status">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
</div>
<!-- End Preloader-->
<router-outlet> </router-outlet>