<div id="wrapper" class="wrapper bg-ash flexible-height">
    <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
      <!-- <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
          <a href="index.html"
            ><img src="../../assets/img/logo.jpg" alt="logo"
          /></a>
        </div>
      </div> -->

      <nav class="navbar flex-column navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse flex-column mt-5" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-column" *ngFor="let item of menu_items">
              <!-- != SINGLE ITEM -->
              <li [ngClass]="{'active': this.item.url == activeRoute}" *ngIf="item.type == 'item'" class="nav-item">
                <a (click)="onNavigate(item.url)" class="nav-link"
                  ><i [ngClass]="item.icon"></i><span> {{ item.title }} &nbsp; </span><span *ngIf="item.badge" class="badge" [ngClass]="item.badge.type"> {{ item.badge.title }} </span></a
                >
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

 