<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12" >
            <h4 class="primary">Current Cash Balance:</h4>
            <h3>USD 25,000</h3>
            <br>
            <button class="btn btn-primary">Add Funds</button>
        </div>
        <div class="col-lg-6 col-md-6 col-12 text-right" >
            <h4><span class="primary">Account ID: </span><span>112331</span></h4>
            
        </div>
    </div>

    <br>
    <div class="table-responsive table-row">
        <h5 class="primary">Funds Histroy</h5>
        <table class="table  table-borderless">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Payment type</th>
                <th scope="col">Reference</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>