<div class="container-fluid">
    <div class="text-center">
        <h4 class="">Market Data</h4>
    </div>

    <br>
    <div class="table-responsive table-row">
    
        <table class="table  table-borderless">
            <thead>
              <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Last Traded Price</th>
                <th scope="col">Max Price Shift</th>
                <th scope="col">Ask Price</th>
                <th scope="col">Bid Price</th>
                <th scope="col">Buy Limit</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="primary" scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-secondary"> Buy </button></td>
               
              </tr>
            </tbody>
          </table>
    </div>
  </div>
