<div class="container-fluid">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading" class="">
    <div class="text-center">
      <h4 class="title">Market Data</h4>
    </div>
    <br>
    <div class="" *ngIf="market_data == null">
      Market Data is currently not available
    </div>
    <div *ngIf="market_data !== null" class="table-responsive table-row">
   
        <table class="table  table-borderless">
            <thead>
              <tr class ="tableheader">
                <!-- <th scope="col">ID</th> -->
                <th scope="col">Ticker</th>
                <th scope="col">Last Traded Price</th>
                <th scope="col">Max Price Shift ($)</th>
                <th scope="col">Ask Price ($)</th>
                <th scope="col">Bid Price ($)</th>
                <th scope="col">Buy Limit </th>
                <th scope="col">Sell Limit </th>
                <th scope="col">As At</th>
                
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="tableData" *ngFor="let data of market_data">
                <!-- <th class="primary" scope="row">{{data?.id}}</th> -->
                <td class="primary">{{data?.ticker}}</td>
                <td>{{data?.lastTradedPrice}}</td>
                <td>{{data?.maxPriceShift}}</td>
                <th scope="row">{{data?.askPrice}}</th>
                <td class="primary">{{data?.bidPrice}}</td>
                <td>{{data?.buyLimit}}</td>
                <td>{{data?.sellLimit}}</td>
                <td>{{data?.timestamp | date: 'YYYY-dd-MM HH:ss' }}</td>
                <td>  <button class="btn btn-secondary buy" data-toggle="modal" data-target="#buyModal" id="add-funds" (click)="getProduct(data?.ticker)" >Buy</button>  </td>
               
              </tr>
            </tbody>
          </table>

          <!-- Modal form for adding funds -->
          <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="buyModalLabel">Buy Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row m-3">
                    <div class="col-lg-6 col-12">
                      Ticker: {{product?.ticker}}
                    </div>
                    <div class="col-lg-6 col-12">
                      Last traded price: {{product?.lastTradedPrice}}
                    </div>
                    <div class="col-lg-6 col-12">
                      Bid price: {{product?.bidPrice}}
                    </div>
                    <div class="col-lg-6 col-12">
                     Buy Limit: {{product?.buyLimit}}
                    </div>
                  </div>
                  <form [formGroup]="buyForm">
                    <div class="">
                      <div class="m-3">
                        <label class="form-label">Price:</label>
                        <input formControlName="amount" type="number" class="form-control" min="1" id="amountInput" aria-describedby="amountlHelp">
                      <div  
                        *ngIf="buyForm.get('amount')?.touched && buyForm.get('amount')?.hasError('required')" id="amountHelp" class="form-text">Please provide a valid amount</div>
                      </div>
                      <div class="m-3">
                        <label class="form-label">Quantity:</label>
                        <input formControlName="quantity" type="number" min="1" class="form-control" id="referenceInput" aria-describedby="referencelHelp">
                      <div  
                        *ngIf="buyForm.get('quantity')?.touched && buyForm.get('quantity')?.hasError('required')" id="referenceHelp" class="form-text">Please provide a valid quantity</div>
                      </div>
                    </div>
    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="buyProduct(product?.ticker)" [disabled]="buyForm.invalid">Buy</button>
                </div>
              </div>
            </div>
          </div>

          <!-- / Modal end -->
    </div>
  </div>
    
</div>

